<div class="users-table-container">
  <table class="users-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha Registro</th>
        <th>Último login</th>
      </tr>
    </thead>
    <tbody>
      @if (users.length === 0) {
        <tr>
          <td colspan="6" class="no-data">No hay usuarios registrados</td>
        </tr>
      } @else {
        @for (user of users; track user.id) {
          <tr>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.create_at | date: 'yyyy-MM-dd HH:mm:ss a' }}</td>
            <td>{{ user.last_login_at | date: 'yyyy-MM-dd HH:mm:ss a' }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
